In [2]:
import pandas as pd

In [9]:
df = pd.read_csv('/Users/jessewright/Code/data-deduplication/data/ItemInfo_test.csv')

In [10]:
df.shape

(1315205, 11)

In [11]:
df.columns

Index(['itemID', 'categoryID', 'title', 'description', 'images_array',
       'attrsJSON', 'price', 'locationID', 'metroID', 'lat', 'lon'],
      dtype='object')

In [13]:
print(df.head(2))

   itemID  categoryID                                   title  \
0       5         115  Сотрудничество салонам кухонной мебели
1       6          10                          Радар-детектор

                                         description images_array  \
0  Сотрудничество салонам кухонной мебели.\nТребу...          NaN
1  Продам радар-детектор в идеальном состоянии!Пр...          NaN

                                attrsJSON  price  locationID   metroID  \
0                 {"Вид услуги":"Другое"}    NaN      637640  500292.0
1  {"Вид товара":"Аудио- и видеотехника"}    NaN      637160       NaN

         lat        lon
0  55.760211  37.577211
1  59.645846  33.513035

In [14]:
df_reduced = df[['description']]

In [16]:
df_reduced.head(3)

                                         description
0  Сотрудничество салонам кухонной мебели.\nТребу...
1  Продам радар-детектор в идеальном состоянии!Пр...
2  Зарядное устройство для ноутбука Lenovo, (19v,...

In [17]:
df_reduced.to_csv('/Users/jessewright/Code/data-deduplication/data/rs_ads_descriptions.csv')